.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

data/
datasets/
artifacts/
mlruns/
outputs/
logs/

models/*
!models/distilbert/
!models/distilbert/**

*.csv
*.parquet
*.pkl
*.joblib
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
.vscode/
mlflow.db
reports/
mlruns/
mlflow.db
# Secrets — JAMAIS commiter
*.txt
!requirements.txt
!README.txt
hf-token*
*token*.txt
*Token*.txt

ZZZZ_Crap
models/distilbert/checkpoints/
.coverage
models/distilbert/checkpoints/
