.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store


models/
artifacts/
mlruns/
outputs/
logs/

*.csv
*.parquet
*.pkl
*.joblib
*.pt
*.pth
*.onnx
*.zip
*.tar.gz
.vscode/
mlflow.db

# DVC — ignorer les données brutes mais tracker les .dvc files
!data/raw/*.dvc
!data/processed/*.dvc
!data/**/.gitignore


# Data — ignorer le contenu mais pas les fichiers DVC
data/**
!data/**/.gitignore
!data/**/*.dvc